<strong>Olá, {{ student }} </strong><br/>
<strong>Estamos entrando em contato para responder sua pergunta!</strong>
<p>
  <strong>Pergunta: </strong> {{ question }} <br/><br/>
  <strong>Resposta: </strong> <p>{{ answer }}</p>
</p>
