<div style="background-color: rgb(100, 159, 207); color: #fff; padding: 20px">
<strong>Olá,  </strong>{{ student }}<br/><br/>
<strong>Estamos entrando em contato para responder sua pergunta!</strong>
<p>
  <strong>Pergunta: </strong> {{ question }} <br/><br/>
  <strong>Resposta: </strong> {{ answer }}
</p>
</div>
