<div style="background-color: rgb(77, 84, 90); color: #fff; padding: 20px; display: flex; align-items: center; justify-content: center; flex-direction: column;">
<p>
<img src="https://github.com/Rocketseat/bootcamp-gostack-desafio-03/raw/master/.github/logo.png" alt="Logo GymPoint">
</p>
<strong>Olá,  </strong>{{ student }}<br/><br/>
<strong>Estamos entrando em contato para responder sua pergunta!</strong>
<p>
  <strong>Pergunta: </strong> {{ question }} <br/><br/>
  <strong>Resposta: </strong> {{ answer }}
</p>
</p> <br/>
<p>Equipe Gympoint</p>
<small>Em prol da sua saúde física!</small>
</div>
