<strong>Olá, {{ student }} </strong>
<strong>Seja bem vindo a GymPoint!</strong>
<p>
  <strong>Plano: </strong> {{ plan_name }} <br/>
  <strong>Data de término: </strong> {{ date }} <br/>
  <strong>Valor: </strong> {{ price }} <br/><br/>
  <small>
    Muito obrigado por fazer parte da Gympoint =)
  </small>
</p>
