<div style="background-color: rgb(100, 159, 207); color: #fff; padding: 20px">
<strong>Olá, </strong>{{ student }}<br/><br/>
<strong>Seja bem vindo a GymPoint!</strong>
<p>
  <strong>Plano: </strong> {{ plan_name }} <br/>
  <strong>Data de término: </strong> {{ date }} <br/>
  <strong>Valor: </strong> {{ price }} <br/><br/>
  <p>
    Muito obrigado por fazer parte da Gympoint =)
  </p>
</p>
</div>
